[submodule "Beginners"]
	path = Beginners
	url = https://www.github.com/MondayMorningHaskell/Beginners
[submodule "RustBeginners"]
	path = RustBeginners
	url = https://github.com/MondayMorningHaskell/RustBeginners
[submodule "RustWeb"]
	path = RustWeb
	url = https://github.com/MondayMorningHaskell/RustWeb
[submodule "Monads"]
	path = Monads
	url = https://github.com/MondayMorningHaskell/Monads
